<html lang="en">

<head>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../stylesheets/productpage.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
    <title>Document</title>
</head>

<body>
    <!-- Reviews -->
    <% for (var i = 0; i < comm.length; i++) { %>
        <div class="container fluid" id="reviewBody">
                <div class="row justify-content-center">
                    <div class="col-md-12 px-0 mb-0">
                        <div class="row justify-content-center">
                            <div class="col-md-10 px-5 mb-0 border border dark bg-grey text-dark" id="reviews">
                                <p> <b>name : <%= comm[i].customer %> </b>
                                    <br>
                                    <em>Posted Date : <%= comm[i].date.toDateString()  %></em>
                                    <div class="fiveStars">

                                    <% for (var j = 0; j < comm[i].reviewscore; j++) { %>
                                    <span class="fa fa-star checked"></span>

                                    <% } %>
                                    </div>
                                </p>
                                <hr>
                                <p> <%= comm[i].comment %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
  
    <form action="/product" method="POST">
        <div class="container fluid" id="reviewBody">
            <div class="row justify-content-center">
                <div class="col-md-12 px-0 mb-0">
                    <div class="row justify-content-center">
                        <div class="col-md-10 px-5 mb-0 border border dark bg-grey text-dark" id="reviews">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Comment</label>
                                <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <select name="reviewscore">
                                        <option value="1">1 star</option>
                                        <option value="2">2 star</option>
                                        <option value="3">3 star</option>
                                        <option value="4">4 star</option>
                                        <option value="5">5 star</option>
                                      </select>
                                  
                                <input type="TEXT"  name="gametitle" value="<%- prod.title %>" hidden>
                                <input type="TEXT"  name="gameid" value="<%- prod.id %>" hidden>
                            </div>
                            
                            <button type="submit" class="btn btn-success mt-3 mb-2 px-5">Comment</button>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

</body> 

</html>