<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../stylesheets/productpage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  function getTotalStar(){
      var starData = [<%- reviewRating %>];
      var total = 0;  
      for(var i = 0; i < starData.length ; i++){
        total += starData[i];
      }
      return total;
    };

    function getStarPercentage(star){
      var starData = [<%- reviewRating %>];
        
      return Number(starData[star]/getTotalStar() * 100).toFixed(2);
    };
  </script>
  <title>Product Page</title>
</head>

<body>
  <!-- Nav Bar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Store button (Brand Button) -->
    <a class="navbar-brand" href="#"> Store </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Non-Brand items  -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Analytics Tool<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"> Profile </a>
        </li>
       
      </ul>
      
      <!-- Search Bar -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
  <!-- Product Title -->
  <div class="container">
    <div class="mt-5">
      <h5 name="gametitle"><%= prod.title %></h5>
      <div class="container">
        <div class="row">
          <div class=></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slide Show -->
  <div class="container " id="slideShowEntire">
    <div class="row justify-content-center">
      <div class="col-md-12 px-0 mb-0 ">
        <div class="row justify-content-center">
          <div class="col-md-6 px-0 mb-0 " id="slideShow">
            <div class="thumbnail">
              <img id="slideShowImg" src=<%= prod.imageLink %> alt="Template Image"></div>
          </div>
          <div class="col-md-4 ml-4" id="sidePanel1">
            <div class="fiveStars">
              <span id="fiveStarValue"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              
          </div>
          <div class="fourStars">
              <span id="fourStarValue"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
          </div>
          <div class="threeStars">
              <span id="threeStarValue"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
          </div>
          <div class="twoStars">
              <span id="twoStarValue"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
          </div>
          <div class="oneStars">
              <span id="oneStarValue"></span>
              <span class="fa fa-star checked"></span>           
          </div>

            <p class="developer mt-3"> Developer : <%= prod.developer %> </p>
            <p class="publisher"> Publisher : <%= prod.publisher %> </p>
            <p class="releaseDate"> Release Date : <%= prod.date.toDateString() %> </p>
            <p class="price"> Price : <%= prod.price %> </p>
            <p class="rating"> Product Rating : <%= prod.productRating %></p>
            
                <form id="inlineButton" action=".././buy/<%= id %>">
                  <button type="submit" class="btn btn-success btn-lg">Buy </button>
                </form>
       
         
                <form id="inlineButton" action=".././productanalytic/<%= id %>">
                  <button type="submit" class="btn btn-primary btn-lg">Analytics </button>
                </form>
           
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Line -->
  <hr class="line">
  <!-- Details -->
  <div class="container fluid" id="bodyDetails">
    <div class="row justify-content-center">
      <div class="col-md-12 px-0 mb-0">
        <div class="row justify-content-center">
          <div class="col-md-10 px-0 mb-0" id="productDescription">
            <p class="pSection1">
              <!--Introduction Header and Summary-->
              <h5><u>INTRODUCTION</u></h5>
              <%if (prod.desc.length > 0) { %>
                <p><strong>Summary</strong></p>
                <%= prod.desc %>
                
              <% } %>
            </p>
            <br>
            <!-- Introduction-->

            <p>
                <%if (prod.introduction.length > 0) { %>
                  <p><strong>Overview</strong></p>
                  <%= prod.introduction %>
                  
                <% } %>
            </p>
            <br>
            <!--  Setting -->
            <p>
                <%if (prod.setting.length > 0) { %>
                  <p><strong>Setting</strong></p>
                  <%= prod.setting %>
                  
                <% } %>

            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Line -->
  <hr class="line">
  <!-- Techniqual Specs + Reusing Same ID'S as slideshowentire-->
  <div class="container " id="slideShowEntire">
    <div class="row justify-content-center">
      <div class="col-md-12 px-0 mb-0 ">
        <div class="row justify-content-center">
          <div class="col-md-6 px-0 mb-0 " id="slideShow">
            <!-- Image Spec -->
            <div class="thumbnail">
              <img id="slideShowImg" src="images/Specs.JPG" alt="Template Image"> </div>
          </div>
          <!-- Genre  -->
          <div class="col-md-2 ml-4 border border-dark bg-light" id="sidePanel1">
            <div class="genre">
              <h6><strong><u>Genre</u></strong></h6>
              <% for (var i = 0; i < prod.type.length; i++) { %>

                <li><%= prod.type[i] %></li>
  
                <% } %>
           
            </div>
          </div>
          <!-- Mode of play -->
          <div class="col-md-2 ml-4 border border-dark bg-light" id="sidePanel2">
            <h6><strong><u>Single/Mulitplayer</u></strong></h6>
                <li>
                    <%= prod.play_Mode %>

                </li>
              

           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Line -->
  <hr class="line">
  <!-- Reviews -->
  <!-- <div class="container fluid" id="reviewBody">
    <div class="row justify-content-center">
      <div class="col-md-12 px-0 mb-0">
        <div class="row justify-content-center">
          <div class="col-md-10 px-0 mb-0 border border dark bg-dark text-light" id="reviews">
            <p>Insert Review</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <%- include comment.ejs %>

</body>
<script>
  document.getElementById("fiveStarValue").innerHTML = getStarPercentage(4) + "%";
  document.getElementById("fourStarValue").innerHTML = getStarPercentage(3) + "%";
  document.getElementById("threeStarValue").innerHTML = getStarPercentage(2) + "%";
  document.getElementById("twoStarValue").innerHTML = getStarPercentage(1) + "%";
  document.getElementById("oneStarValue").innerHTML = getStarPercentage(0) + "%";
</script>
</html>